/**
* Estilos base de todas las vistas de la aplicación
*
*/

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --font-size: 16px;
    --clr-fondo-primario: rgb(9, 15, 34);
    --clr-fondo-secundario: #495ABF;
    --clr-violeta: #9747FF;
    --clr-letra: #FFFFFF;
    --clr-hover: #F24B78;
    --clr-disabled: #F29D52;
    --clr-prim-trans: rgba(9,15,34,0.8);
    --tam-h1: 3rem;
    --tam-h2: 2.5rem;
    --tam-h3: 2rem;

   
    font-size: var(--font-size);
    color: var(--clr-letra);
}

body{
    background-color: var(--clr-fondo-primario);
    background: linear-gradient(to bottom, var(--clr-fondo-primario), var(--clr-fondo-secundario) );
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    justify-content: center;
    
}

main{
    width: 100%;
    flex: 1;
    
}
.error{
    border: 1px solid red;
    color: red;
}

/*=============================================
=            Estilos de la cabecera            =
=============================================*/

header{
    width: 100%;
    height:max-content;
    grid-column: 1/-1;
    padding: 1rem 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    background-color: var(--clr-fondo-primario);
    z-index: 99;
    padding-left: 20px;
}

#logo{
    width: 150px;
    margin: 10px;
}

#logo img{
    width: 100%;
}


/*=====  End of Estilos de la cabecera  ======*/



/*=============================================
=            Estilos del menú            =
=============================================*/

nav{
    margin-right: 2.5rem;
    
}

nav > ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav>ul>li{
    height: 100%;
    position: relative;
}

.activa span{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--clr-letra);
    position: absolute;
    top: 30px;
    left: 0px;
    transition: all .5s ease-in;
}

nav > ul > li a{
    display: inline-block;
    font-size: 1.2rem;
    transition: all .5s ease-in;
}

nav > ul > li:hover a, nav>ul>li:hover button {
    color: var(--clr-hover);
}

nav>ul>li:hover>a span, nav>ul>li:hover>button span{
    background-color: var(--clr-hover);
}

nav>ul>li>button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    transition: all .5s ease-in;
}
/*=====  End of Estilos del menú  ======*/



/*=============================================
=            Estilos de las cabeceras            =
=============================================*/

h1, h2, h3{
    color: var(--clr-letra);
    text-transform: uppercase;
}

h1{
    font-size: var(--tam-h1);
}

h2{
    font-size: var(--tam-h2);
}
h3{
    font-size: var(--tam-h3);
}

/*=====  End of Estilos de las cabeceras  ======*/




/*=============================================
=            Estilos de los enlaces            =
=============================================*/

a{
    color: var(--clr-letra);
    text-decoration: none;

}

/*=====  End of Estilos de los enlaces  ======*/



/*=============================================
=            Estilos de las listas            =
=============================================*/

li{
    list-style: none;
}


/*=====  End of Estilos de las listas  ======*/



/*=============================================
=            Estilos del botón            =
=============================================*/
.boton{
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    text-transform: uppercase;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 8px var(--clr-fondo-primario);
    transition: all .75s ease-in-out;
    position: relative;
    margin: 1rem;
}

.boton:hover{
    background-color: var(--clr-hover);
    top: -3px;
}

.boton:disabled{
    background-color: var(--clr-disabled);
    color: #D9D9D9;
}

/*=====  End of Estilos del botón  ======*/


/*=============================================
=            Estilos del dropdown            =
=============================================*/

.dropbtn {
    width: 50px;
    height: 50px;
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 50px;
    position: relative;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  #avatar{
    z-index: 99;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0px;
  }
  
  .dropdown-content a {
    color:var(--clr-letra);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: var(--clr-letra);
    background-color: var(--clr-hover);
    border-radius: 10px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: var(--clr-hover);
  }

/*=====  End of Estilos del dropdown  ======*/



/*=============================================
=            Estilos del footer            =
=============================================*/
footer{
    grid-column: 1/-1;
    width: 100%;
    background-color: var(--clr-violeta);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-template-rows:auto;
    
}

ul{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    list-style: none;
}

#rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

#rrss figure svg{
    width: 50px;
}

#accesibilidad{
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}



/*=====  End of Estilos del footer  ======*/


/*=============================================
=            Estilos de las mediaQueries            =
=============================================*/

@media screen and (max-width: 425px) {
    
    :root{
        font-size: 14px;
    }

   
    h1{
        font-size: calc(var(--tam-h1) / 1.5);
    }
    h2{
        font-size: calc(var(--tam-h2) / 1.5);
    }
    h3{
        font-size: calc(var(--tam-h3) / 1.5);
    }
    
    footer{
        /* grid-template-columns: 2;
        grid-template-rows: repeat(3, 1fr); */
        padding: 10px;
    }

    #rrss figure svg {
        width: 50px; 
    }

    #accesibilidad, #contacto, #terminos {
        text-align: center; 
        margin: 10px 0;
        
    }
   
}

@media screen and(min-width: 768px){
    #contacto{
        grid-area: 1 / 2 / 3 / 2;
    }
    
    #terminos{
        grid-area: 1 / 3 / 3 / 3;
    }
}

@media screen and (min-width: 1024px) {
    main{
        width: 90%;
        margin: 0 auto;
    }
}


/*=====  End of Estilos de las mediaQueries  ======*/

