@import url(./base.css);

#listaDisenhos, #listaDisenhosCom{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disenhos, .disenhosCom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.disenhos article, .disenhosCom article{
    margin: 20px 0;
    border: 5px solid var(--clr-violeta);
    border-radius: 8px;
}
.disenos{
    width: 200px;
    height: 200px;
    position: relative;
   
}

.disenos img{
    width: 100%;
}

.pag{
   margin: 1rem;
   background-color: var(--clr-violeta);
   position: absolute;
   right: 0;
   bottom: 0;
   border-radius: 8px;
}

.pagination{
    gap:10px;
    padding: 0 10px;
}

.btn2{
    margin: 10px;
    width: 80px;
    height: 30px;
    font-size: 12px;
}

#titComunity{
    text-align: center;
}

main.gallery{
    justify-content: space-between;
    position: relative;
}