@import url(./base.css);

.listaDisenhos, #listaDisenhosCom{
         margin: 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
       width: 75%;
    
    
}
    
    .disenhos, .disenhosCom, .disenhosTodos{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
        align-items: center;
        gap: 10px; 
        
}


.disenhos article, .disenhosCom article, .disenhosTodos article{
    margin: 20px 0;
    max-width: 220px;
    height: auto;
    border: 5px solid var(--clr-violeta);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.disenos{
    width: 200px;
    height: 200px;
    position: relative;
   
}

.disenhosTodos h4, .disenhos h4, .disenhosCom h4{
    text-align: center;
    width: 100%;
    color: white;
}
.disenos img{
    width: 100%;
}

.pag{
   margin: 1rem;
   background-color: var(--clr-violeta);
   position: absolute;
   right: 0;
   bottom: 0;
   border-radius: 8px;
}

.pagination{
    gap:10px;
    padding: 0 10px;
}

.btn2{
    margin: 10px;
    width: 80px;
    height: 30px;
    font-size: 12px;
}

#titComunity{
    text-align: center;
}

main.gallery{
  justify-content: space-between; 
    position: relative;
}

.pag{
    margin: 2rem;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.pagination{
    width: max-content;
    background-color: var(--clr-violeta);
    position: absolute;
    right: 2rem;
    border-radius: 8px;
}
.page-link{
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    border: none;
}
.active > .page-link{
    background-color: var(--clr-hover);
}

@media screen and (max-width:425px) {
    .disenhos, .disenhosCom, .disenhosTodos{
        justify-content: center;
    }
}

@media screen and (max-width: 1023px) {
    .disenhos, .disenhosCom, .disenhosTodos{
        justify-content: center;
    }
    .disenhos article, .disenhosCom article, .disenhosTodos article{
        margin: 20px 15px;
    }
}