@import url(./base.css);

/*=============================================
=            Estilos del carrusel            =
=============================================*/

#carouselExampleAutoplaying{
    width: 300px;
    height: 300px;
}

/*=====  End of Estilos del carrusel  ======*/


/*=============================================
=            Estilos de las secciones            =
=============================================*/

.portada{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    min-height: 500px;
}


h1,h2{
    width: 50px;
    text-shadow: 4px 4px 4px var(--clr-hover);
    padding-bottom: 2rem;
}


.comenzar{
    width: 100%;
    text-align: center;    
}

#pov{
    width: 100%;

}
/*=====  End of Estilos de las secciones  ======*/


/*=============================================
=            Estilos de las imagenes            =
=============================================*/


#giro{
    animation: giro .1s 6 ease-in;
    width: 300px;
}

#circulo{
    width: 100%;
}


/*=====  End of Estilos de las imagenes  ======*/



/*=============================================
=            Estilos animacion imagen            =
=============================================*/

@keyframes giro {
    to{
        rotate: 360deg;
    }   
}


/*=====  End of Estilos animacion imagen  ======*/


/*=============================================
=            Estilos de las mediaQueries            =
=============================================*/

@media screen and (max-width: 425px){

    h1,h2{
        width: auto;
    }

    #giro{
        width: 300px;
    }

}

@media screen and (max-width:768px){
    .portada img{
        width: 350px;
    }
}

@media screen and (min-width: 769px){
    #giro{
        width: 500px;
    }
}


/*=====  End of Estilos de las mediaQueries  ======*/

