@import url(./base.css);
@import url(./modales.css);

h1{
    width: 90%;
    text-align: left;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.izq{
    width: auto;
}

#galeriaPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/*=============================================
=            Estilos del avatar            =
=============================================*/

.avatarImg{
    position: relative;
    width: 200px; 
}
    
#cargar{
    visibility: hidden;
}
        
.avatarImg .img {
    background-image: url("../img/avatarGen.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}


.labelAvatar i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left:60%;
    color: var(--clr-violeta);
    padding: 1rem;
    text-align: center;
    cursor: pointer;
} 


/*=====  End of Estilos del avatar  ======*/


/*=============================================
=            Estilos de la lista de diisenhos            =
=============================================*/


.disenhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.disenos{
    width: 200px;
    height: 200px;
    position: relative;
   
}

.disenos img{
    width: 100%;
    
}


/*=====  End of Estilos de la lista de diisenhos  ======*/


form{
    height: max-content;
}

#formPwd{
    height: 200px;
}

#formPwd p{
    display: flex;
    flex-direction: column;
    color: var(--clr-letra);
}
h4{
    color: var(--clr-letra);
}
.titulo{
    text-align: center;
    margin-top: 2rem;
    color: var(--clr-letra);
    width: max-content;
}

#formPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cambiarPwd{
    padding-top: 1rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*=============================================
=            Estilos de las media queries            =
=============================================*/

@media screen and (max-width:425px) {
    #cambiarPwd{
        margin-left: 0;
    }
    .content{
        gap:0;
    }

    h4.titulo{
        width: 100%;
    }
    .disenhos article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .disenos {
        width: 100%;
        display: flex;
        justify-content: center;
    }
        
    .disenos img{
        width: auto;
        
    }
    .izq{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .labelAvatar i{
        top: 65%;
    }

    .btn2{
        width: 90px;
    }

    h1{
        text-align: center;
    }

}

@media screen and (max-width:1023px) {

    
    .izq{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:1rem;
    }

    .titulo{
        width: 100%;
        text-align: center;
    }

    .disenos{
        margin: 0 auto;
    }

    .btn2{
        width: 90px;
    }

    .labelAvatar i{
        top: 65%;
    }


}
/*=====  End of Estilos de las media queries  ======*/

