@import url(./base.css);
@import url(./modales.css);


.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.izq{
    width: 50%;
}

#listaDisenhos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*=============================================
=            Estilos del avatar            =
=============================================*/

.avatarImg{
    position: relative;
    width: 200px;
}

#cargar{
    visibility: hidden;
}

.avatarImg .img {
    background-image: url("../img/avatarGen.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .fa .fa-camera{
    width: 80px;
  }

 .labelAvatar i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 195px;
    left:60%;
    color: var(--clr-letra);
    padding: 1rem;
    text-align: center;
    
} 


/*=====  End of Estilos del avatar  ======*/


/*=============================================
=            Estilos de la lista de diisenhos            =
=============================================*/


.disenhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.disenos{
    width: 200px;
    height: 200px;
    position: relative;
   
}

.disenos img{
    width: 100%;
}


/*=====  End of Estilos de la lista de diisenhos  ======*/



form{
height: max-content;
}

.titulo{
    text-align: center;
    margin-top: 2rem;
    color: var(--clr-letra);
    width: max-content;
}