/* @import url(./base.css); */

/*=============================================
=            Estilos de las ventanas modales            =
=============================================*/


/* Ventana modal de Login */

#modalSesion{
    margin: auto auto;
    width: 60%;
    height: 80%;
    border-radius: 10px;
    border: none;
}

#modalSesion::backdrop{
    background-color: var(--clr-prim-trans);
}

#error{
    color: red;
}

dialog #left{
    width: 50%;
    height: 100%;
    background-color: var(--clr-violeta);
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog #rigth{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 25px solid var(--clr-violeta);
    background-color: var(--clr-fondo-primario);
    color: white;
}

dialog #rigth form p{
    display: flex;
    flex-direction: column;

}

dialog #rigth form label{
   font-size: 1.2rem;
}

dialog h3{
    text-shadow: 4px 4px 4px var(--clr-hover);
    margin: 2rem;
    font-size: calc(var(--tam-h3) / 0.75);
}

dialog button, dialog input[type='submit']{
    text-transform: uppercase;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    border: none;
    box-shadow: 2px 4px 8px var(--clr-fondo-primario);
    transition: all .75s ease-in-out;
}

#login{
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    margin: 0 auto;
}

#registro{
    background-color: var(--clr-letra);
    color: var(--clr-fondo-primario);
    transition: all .75s ease-in-out;
}

#registro:hover{
    background-color: var(--clr-hover);
    color: var(--clr-letra);
}


.cerrar{
    width: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    font-size: 1.2rem;
    color: var(--clr-letra);
    background-color: var(--clr-fondo-primario);
}

#confReg{
    width: 300px;
    height: 100px;
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    position: relative;
    
}

#confReg p{
    
    margin: auto auto;
}
#cerrarConfReg{
    color: var(--clr-letra);
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
}
/*----------  EStilos de las mediaqueries  ----------*/

@media screen and(max-width: 425px) {
    
}


/*=====  End of Estilos de las ventanas modales  ======*/

