/* @import url(./base.css); */

/*=============================================
=            Estilos de las ventanas modales            =
=============================================*/


#modalSesion, #modalGuardar{
    margin: auto auto;
    width: 60%;
    height: 80%;
    border-radius: 10px;
    border: none;
}

#modalSesion::backdrop, #modalGuardar::backdrop{
    background-color: var(--clr-prim-trans);
}

#modalGuardar{
    width: 500px;
    background-color: var(--clr-violeta);
    height: min-content;

}
#modalGuardar section{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#modalGuardar form{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#error{
    color: red;
    text-align: center;  
}

dialog #left{
    width: 50%;
    height: 100%;
    background-color: var(--clr-violeta);
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#left p{
    color: var(--clr-letra);
}
dialog #rigth{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 25px solid var(--clr-violeta);
    background-color: var(--clr-fondo-primario);
    color: white;
}

dialog #rigth form p{
    display: flex;
    flex-direction: column;

}

dialog #rigth form label{
   font-size: 1.2rem;
}

dialog h3{
    text-shadow: 4px 4px 4px var(--clr-hover);
    margin: 2rem;
    font-size: calc(var(--tam-h3) / 0.75);
    text-align: center;
}

dialog input:not(input[type='submit']){
    padding: 5px;
}

dialog button, dialog input[type='submit']{
    text-transform: uppercase;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    border: none;
    box-shadow: 2px 4px 8px var(--clr-fondo-primario);
    transition: all .75s ease-in-out;
}

#login{
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    margin: 0 auto;
}

#registro, #guardarConf{
    background-color: var(--clr-letra);
    color: var(--clr-fondo-primario);
    transition: all .75s ease-in-out;
    margin: 0 auto;
}

#registro:hover, #guardarConf:hover{
    background-color: var(--clr-hover);
    color: var(--clr-letra);
}


.cerrar{
    width: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    font-size: 1.2rem;
    color: var(--clr-letra);
    background-color: var(--clr-fondo-primario);
}

#confReg, #confSave , #save, #changePwd{
    width: 22rem;
    height: 100px;
    background-color: var(--clr-violeta);
    color: var(--clr-letra);
    margin: auto auto;
    border: none;
    border-radius: 8px;
    position: relative;
    
}

#confReg p, #confSave p, #save p, #changePwd p{
    padding: 30px;
    width: 100%;
    margin: auto auto;
}
#cerrarConfReg, #cerrarConfSave, #cerrarSave, #cerrarChange{
    color: var(--clr-letra);
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
    z-index: 99;
}
/*----------  EStilos de las mediaqueries  ----------*/

@media screen and (max-width: 425px) {
    
    #modalSesion{
        height: max-content;
    }
    
    dialog section#left {
        display: none;
    }

    #modSesion{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    dialog #rigth{
        width: 100%;
        height: max-content;
        justify-content: flex-start;

    }   
    dialog #rigth p {
        align-items: center;
        width:100%;
    }

    dialog #rigth p label, dialog #rigth p input{
        width: 90%;
    }
    dialog #rigth svg{
        width: 80px;
    }
    dialog p#errorS{
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        color: red;
    }

    #cerrarModSesion{
        margin-bottom: 20px;
    }

    dialog #rigth form{
        display: flex;
        flex-direction: column;
       
        align-items: center;
    }
   
  

}

@media screen and (min-width:768px) {
    dialog #left{
        height: 100%;
    }
    dialog #rigth{
        width: 50%;
        height: 100%;
    }
    dialog #rigth form{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    dialog #rigth form p{
        width: 90%;
    }
    #modalSesion{
        height: 60%;
    }
    #loginForm{
        margin: 0 auto;
    }
}

/*=====  End of Estilos de las ventanas modales  ======*/

